{% extends 'base/base.html' %}

{% block content %}
<div class="card produce-card">
	<div class="card-body">
		<h4>Posts for Selling</h4>
		{% for sell in sells %}
		<div class="card produce-card">
			<div class="card-body">
				<div class="container">
					<strong>Crop:</strong>
					{{sell.produce.crop}}
					<br>
					<strong>Location:</strong>
					{{sell.location}}
					<br>
					<strong>Quantity</strong>
					{{sell.quantity}} tons
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>	

<div class="card produce-card">
	<div class="card-body">
		<h4>Posts for Transport</h4>
		{% for transport in transports %}
		<div class="card produce-card">
			<div class="card-body">
				<strong>Crop:</strong>
					{{transport.produce.crop}}
					<br>
					<strong>Location:</strong>
					{{transport.location}}
					<br>
					<strong>Quantity</strong>
					{{transport.quantity}} tons
			</div>
		</div>
		{% endfor %}
	</div>
</div>	

<div class="card produce-card">
	<div class="card-body">
		<h4>Posts for Storage</h4>
		{% for storage in storages %}
		<div class="card produce-card">
			<div class="card-body">
				<strong>Crop:</strong>
					{{storage.produce.crop}}
					<br>
					<strong>Location:</strong>
					{{storage.location}}
					<br>
					<strong>Quantity</strong>
					{{storage.quantity}} tons
			</div>
		</div>
		{% endfor %}
	</div>
</div>	



{% endblock content %}